main {
  min-height: 80vh;
}

h6 {
  padding: 1rem 0;
}

.fa-leaf {
  color: #4c921c;
}

.fa-seedling {
  color: #4c921c;
}

.rcorners1 {
  border-radius: 25px;
}

/* Recipe Page */
.img {
  border-radius: 6px;
}

.img2 {
  border-radius: 6px;
  padding: 2px;
  width: 150px;
  opacity: 0.9;
}

.recipeFont {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.recipeCardFont {
  line-height: 1.3;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.cursiveFont {
  font-style: italic;
  text-align: center;
}

.numberFont {
  font-size: 20px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.link {
  color: rgb(73, 72, 72);
  text-decoration: none;
  font-size: 25px;
}

.link:hover {
  color: rgb(90, 193, 74);
}


/* End Recipe Page */